
  <!-- Start Page Header -->
  <div class="page-header">
    <h1 class="title">IDE</h1>
      <ol class="breadcrumb">
        <li class="active">This is a quick overview of some features</li>
    </ol>

    <!-- Start Page Header Right Div -->
    <div class="right">
      <div class="btn-group" role="group" aria-label="...">
        <a href="index.html" class="btn btn-light">IDE</a>
        <a href="#" class="btn btn-light"><i class="fa fa-refresh"></i></a>
        <a href="#" class="btn btn-light"><i class="fa fa-search"></i></a>
        <a href="#" class="btn btn-light" id="topstats"><i class="fa fa-line-chart"></i></a>
      </div>
    </div>
    <!-- End Page Header Right Div -->

  </div>

<div class="col-md-12">
  <!--<div ace-editor
       [(text)]="text"
       [mode]="'sql'"
       [theme]="'eclipse'"
       [options]="options"
       [readOnly]="false"
       [autoUpdateContent]="true"
       [durationBeforeCallback]="1000"
       (textChanged)="onChange($event)"
       style="min-height: 200px; width:100%; overflow: auto;"></div>-->
       <ace-editor
       [(text)]="text"
        #editor style="min-height:400px; width:100%; display: block;"></ace-editor>
</div>
