<!-- Start Page Header -->
<div class="page-header">
  <h1 class="title">Data</h1>
  <ol class="breadcrumb">
    <li class="active">This is a quick overview of some features</li>
  </ol>

  <!-- Start Page Header Right Div -->
  <div class="right">
    <button class="btn btn-primary" data-toggle="modal" (click)="addMockData()"><i class="fa fa-plus-circle"></i>Add Data</button>
    <div class="btn-group" role="group" aria-label="...">
      <a href="index.html" class="btn btn-light">Data</a>
      <a href="#" class="btn btn-light"><i class="fa fa-refresh"></i></a>
      <a href="#" class="btn btn-light"><i class="fa fa-search"></i></a>
      <a href="#" class="btn btn-light" id="topstats"><i class="fa fa-line-chart"></i></a>
    </div>
  </div>
  <!-- End Page Header Right Div -->

</div>

<div class="col-md-12">
  <div class="panel">
    <div class="panel-body table-responsive">
      <p>Data</p>

      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <td><i class="fa fa-trash"></i></td>
            <td>Device</td>
            <td>Data</td>
            <td>Recieved</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataArray">
            <td class="text-center">
              <div class="checkbox margin-t-0"><input id="checkbox{{i}}" type="checkbox"><label for="checkbox{{i}}"></label></div>
            </td>
            <td>{{ data.device_name }}</td>
            <td> {{ data.data}}</td>
            <td>{{data.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
