<!-- Start Page Header -->
<div class="page-header">
  <h1 class="title">Data</h1>
  <ol class="breadcrumb">
    <li class="active">This is a quick overview of some features</li>
  </ol>

  <!-- Start Page Header Right Div -->
  <div class="right">
    <button class="btn btn-primary" data-toggle="modal" (click)="addMockData()"><i class="fa fa-plus-circle"></i>Add Data</button>
  </div>
  <!-- End Page Header Right Div -->

</div>

<div class="col-md-12">
  <div id="main-panel" class="panel">
    <div class="panel-body table-responsive no-overflow">
      <p>Data</p>
      <div class="btn-group">
        <button type="button" class="btn btn-dark">Filter</button>
        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-expanded="false">>
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
        <ul class="dropdown-menu" role="menu">
          <li *ngFor="let data of dataArray | unique | orderBy: 'device_name':alwaysTrue" (click)="selectDevice(data.DeviceId)"><a>{{ data.device_name }}</a></li>
          <li class="divider"></li>
          <li (click)="selectDevice('')"><a>All</a></li>
        </ul>
      </div>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <td><i class="fa fa-trash"></i></td>
            <td class="pointer" (click)="sortData('device_name')">Device</td>
            <td class="pointer" (click)="sortData('data')">Data</td>
            <td class="pointer" (click)="sortData('createdAt')">Recieved</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataArray | filter: selectedDevice | orderBy: sortBy:order; let i = index">
            <td class="text-center">
              <div class="checkbox margin-t-0"><input id="checkbox{{i}}" type="checkbox"><label for="checkbox{{i}}"></label></div>
            </td>
            <td>{{ data.device_name }}</td>
            <td> {{ data.data}}</td>
            <td>{{data.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td><button (click)="selectData(data.id)"class="btn btn-primary btn-icon" data-target="#removeData" data-toggle="modal"><i class="fa fa-close"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="removeData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Remove data</h4>
      </div>
      <form>
        <div class="modal-body">
          <label>Are you sure you wish to remove this data entry?</label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" (click)="cancelRemove()" data-dismiss="modal">Cancel</button>
          <button [ngClass]="" type="button" class="btn btn-primary" (click)="removeSelected()" data-dismiss="modal">Delete entry</button>
        </div>
      </form>
    </div>
  </div>
</div>