<!-- Start Page Header -->
<div class="page-header">
  <h1 class="title">Devices</h1>
  <ol class="breadcrumb">
    <li class="active">This is a quick overview of some features</li>
  </ol>
  <!-- Start Page Header Right Div -->
  <div class="right">
    <button class="btn btn-primary" data-toggle="modal" data-target="#addDevice"><i class="fa fa-plus-circle"></i>New Device</button>
    <div class="btn-group" role="group" aria-label="...">
      <a href="index.html" class="btn btn-light">Devices</a>
      <a href="#" class="btn btn-light"><i class="fa fa-refresh"></i></a>
      <a href="#" class="btn btn-light"><i class="fa fa-search"></i></a>
      <a href="#" class="btn btn-light" id="topstats"><i class="fa fa-line-chart"></i></a>
    </div>
  </div>
  <!-- End Page Header Right Div -->

</div>

<div class="col-md-12">
  <div class="panel">
    <div class="panel-body table-responsive">
      <p>Devices</p>

      <table class="table table-hover">
        <thead>
          <tr>
            <td class="text-center"><i class="fa fa-trash"></i></td>
            <td>Name</td>
            <td>Device ID</td>
            <td>Description</td>
            <td>Updated</td>
            <td>Added</td>
            <td>Edit</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let device of devices | orderBy; let i = index;">
            <td class="text-center">
              <div class="checkbox margin-t-0"><input id="checkbox{{i}}" type="checkbox"><label for="checkbox{{i}}"></label></div>
            </td>
            <td>{{ device.device_name }}</td>
            <td>
              <div class="clipboard-container">
                <div class="clipboard-icon"><button class="btn btn-light btn-icon"><i class="fa fa-clipboard"></i></button></div>
                {{ device.id }}
              </div>
             
            </td>
            <td>{{ device.description }}</td>
            <td>{{ device.updatedAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{ device.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            <td> <button class="btn btn-light btn-icon" data-toggle="modal" data-target="#editDevice" (click)="editDevice(device.id, device.device_name, device.description)"><i class="fa fa-edit"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- addDevice Modal -->
<div class="modal fade" id="addDevice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add new device</h4>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label for="input1" class="form-label">Name</label>
            <input class="form-control" required [(ngModel)]="name" type="text" name="name">
            <p>{{name}}</p>
          </div>
          <div class="form-group">
            <label class="form-label">Description</label>
            <input class="form-control" required [(ngModel)]="desc" name="description">
            <p>{{desc}}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
          <button [ngClass]="{disabled: !isValid()}" type="button" class="btn btn-primary" (click)="createDevice(name, desc)" data-dismiss="modal">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- editDevice Modal -->
<div class="modal fade" id="editDevice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit device</h4>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label for="input1" class="form-label">Name</label>
            <input class="form-control" required [(ngModel)]="name" type="text" name="name" value="{{modalName}}">
            <p>{{name}}</p>
          </div>
          <div class="form-group">
            <label class="form-label">Description</label>
            <input class="form-control" required [(ngModel)]="desc" name="description" value="{{modalDescription}}">
            <p>{{desc}}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
          <button [ngClass]="{disabled: !isValid()}" type="button" class="btn btn-primary" (click)="updateDevice(name, desc)" data-dismiss="modal">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>